html,body{
    margin: 0%;
    height: 100%;
    background-color: rgb(240, 240, 240);
}
.icono{
    margin-left: 60%;
    width: 80px;
   }

.nombreNegocio{
    top: 10%;
    left: 20%;
}
@media screen and (max-width:600px){
    .icono{
        margin-left: 0%;
        width: 50px;
       }
}
